body {
    font-family: 'Montserrat';
    background-color: #472d30;
    color: #ffe1a8;
}

a:link {
    color: inherit;
    text-decoration: inherit;
}

a:visited {
    color: inherit;
}

#Emil_Utrecht {
    width: 300px;
    border-radius: 30%;
    margin-top: 2.5rem;
}

#Emil_Paris {
    width: 300px;
    border-radius: 30%;
    margin-top: 2.5rem;
}

.main {
    display: flex;
    min-height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
}

.side-navbar {
    width: 260px;
    min-width: 260px;
    position: sticky;
    height: 100vh;
    border-right: 1px solid #ffe1a8;
}

.sidebar-section {
    border-bottom: 1px solid #ffe1a8;
    margin: 1.25rem;
    padding-bottom: 1.25rem;
}

.sidebar-section:last-child {
    border: none;
}

.name {
    font-size: larger;
}

.sidebar-section h3 {
    font-size: 16px;
}

.sidebar-section p {
    font-size: 14px;
}

.side-navbar li {
    margin-bottom: 1rem;
}

.content {
    padding-left: 2rem;
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1.5rem;
}

.header-content {
    padding: 1.5rem;
}

.sidebar-section li {
    box-sizing: border-box;
}

li a {
    display: flex;
    padding: 0.1rem 0.5rem;
    border-radius: 3px;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    text-decoration: inherit;
}

li a:hover {
    background-color: #6b4449;
}

li a:visited {
    color: inherit;
}